
<%if(allTests && allTests.length){%>

<section class="ezy__portfolio6" id="ezy__portfolio6">
  <div class="container">
    <div class="row justify-content-center mb-4 mb-md-5">
      <div class="col-lg-6 text-center" id="all-tests">
        <p class="ezy__portfolio6-sub-heading mb-2">Discover the latest posted by our beloved community members</p>
        <h2 class="ezy__portfolio6-heading mb-0">All tests</h2>
      </div>
    </div>
    <div class="row" id="all_test_cards">
      <%for(test of allTests){%>
      <div class="col-md-6 col-lg-4">
        <div class="ezy__portfolio6-item mt-4">
          <img
            src="<%= test.image.url %>"
            alt=""
            class="img-fluid w-100"
          />
          <div class="ezy__portfolio6-content p-4 p-lg-5">
            <h4 class="mb-3"><%= test.name %></h4>
            <p class="opacity-50 mb-0">
              <%= test.introduction.substring(0, 200) + (test.introduction.length > 200 ? '...' : '') %>
            </p>
            <form action="/api/v1/test/<%= test._id %>" method="get">
              <button class="btn btn-outline-warning mt-4 ezy__portfolio6-btn">See more</button>
            </form>
          </div>
        </div>
      </div>
<% } %>
    </div>
  </div>
</section>
<% } else{ %>
  <h2 class="no">No results found, Try with a different keyword or <a href="/">go back</a></h2>
  <style>
    .no {
      text-align: center;
      color: red;  
      padding: 8rem;
      font-size: xx-large;
    }
  </style>

  <% } %>
