.dash-nav{
    display: flex;
    gap: 0.5vw;
    border: 2px solid gainsboro;
    padding: 4px 6px;
    >a{
        >div{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.5vw;
            font-size: larger;
            border: 2px solid gray;
            padding: 0.5vw;
            border-radius: 8px;
            cursor: pointer;
            background: orangered;
            color: azure;
            transition: all 0.3s;
            &:hover{
                background-color: darkorange;

            }
        }
    }
}

.dash-users{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    flex-wrap: wrap;
    gap: 1.2rem;
}