.ezy__sheader5 {
  /* Bootstrap variables */
  --bs-body-bg: #fff;
  --bs-body-color: #fff;

  /* Easy Frontend variables */
  --ezy-theme-color: rgb(13, 110, 253);
  --ezy-theme-color-rgb: 13, 110, 253;

  background-color: #fff;
  background-image: url(https://cdn.easyfrontend.com/pictures/background/abstract-background1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  color: var(--bs-body-color);
  overflow: hidden;
  position: relative;
  padding: 100px 0;
  z-index: 1;
}

@media (min-width: 768px) {
  .ezy__sheader5 {
    padding: 200px 0;
  }
}

/* Gray Block Style */
.gray .ezy__sheader5,
.ezy__sheader5.gray {
  /* Bootstrap variables */
  --bs-body-bg: rgb(246, 246, 246);
}

/* Dark Gray Block Style */
.dark-gray .ezy__sheader5,
.ezy__sheader5.dark-gray {
  /* Bootstrap variables */
  --bs-body-bg: rgb(30, 39, 53);
}

/* Dark Block Style */
.dark .ezy__sheader5,
.ezy__sheader5.dark {
  /* Bootstrap variables */
  --bs-body-bg: rgb(11, 23, 39);
}

.ezy__sheader5-heading {
  font-weight: bold;
  font-size: 35px;
  line-height: 1.2;
}

@media (min-width: 768px) {
  .ezy__sheader5-heading {
    font-size: 60px;
  }
}

.ezy__sheader5-sub-heading {
  font-size: 20px;
  line-height: 1.45;
  opacity: 0.75;
}
.ezy__sheader5-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to right, #0ba6f9, #33f3e4);
  opacity: 0.9;
  z-index: -1;
}

.ezy__sheader5 li a {
  color: #fff;
  padding: 0 10px;
  font-size: 18px;
}

.ezy__sheader5-shape-divider {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.ezy__sheader5-shape-divider svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 56px;
}

.ezy__sheader5-shape-divider .shape-fill {
  color: var(--bs-body-bg);
}