*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
::-webkit-scrollbar{
    display: none;
}
:-webkit-any(a){
    text-decoration: none;
}
body{
    font-family: 'Poppins', sans-serif;
}
.main-container{
    padding: 3vmin;
    /* background: #000000df;
    color: rgb(240, 255, 255); */
    height: 100%;
    /* min-height: 100vh; */
    max-width: 100%;
}

@media screen and (max-width: 600px) {
    .main-container{
        padding: 2vw 2vw;
    }
}