.single-test-container{
    >.main-info{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    >.title{
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: aquamarine;
        font-weight: 800;
    }
    }
    >.intro{
        width: 100%;
        background-color: rgba(165, 42, 42, 0.455);
        padding: 2vw;
    }
    >img{
        width: 100%;
    }
    >.buttons{
        display: flex;
        width: 50%;
        gap: 3vw;
    }
    >.user-info{
        display: flex;
        height: 10vmax;
        gap: 2vw;
        
        >.user-more-info{
            >a{
                >img{
                    width: 5vmax;
                    height: 5vmax;
                    border-radius: 50%;
                    border: 2px solid white;
                }
            }
        }
    }

}

