.ezy__portfolio6 {
  /* Bootstrap variables */
  --bs-body-color: #252d39;
  --bs-body-bg: rgb(255, 255, 255);

  /* Easy Frontend variables */
  --ezy-theme-color: rgb(13, 110, 253);
  --ezy-theme-color-rgb: 13, 110, 253;
  --ezy-item-bg: #ffffff;
  --ezy-item-shadow: 0px 4px 44px rgba(159, 190, 218, 0.17);

  background-color: var(--bs-body-bg);
  overflow: hidden;
  padding: 60px 0;
}

@media (min-width: 768px) {
  .ezy__portfolio6 {
    padding: 100px 0;
  }
}

/* Gray Block Style */
.gray .ezy__portfolio6,
.ezy__portfolio6.gray {
  /* Bootstrap variables */
  --bs-body-bg: rgb(246, 246, 246);

  /* Easy Frontend variables */
  --ezy-item-bg: #f6f6f6;
  --ezy-item-shadow: 0px 4px 44px rgba(186, 155, 155, 0.17);
}

/* Dark Gray Block Style */
.dark-gray .ezy__portfolio6,
.ezy__portfolio6.dark-gray {
  /* Bootstrap variables */
  --bs-body-color: #ffffff;
  --bs-body-bg: rgb(30, 39, 53);

  /* Easy Frontend variables */
  --ezy-item-bg: #222f3e;
  --ezy-item-shadow: none;
}

/* Dark Block Style */
.dark .ezy__portfolio6,
.ezy__portfolio6.dark {
  /* Bootstrap variables */
  --bs-body-color: #ffffff;
  --bs-body-bg: rgb(11, 23, 39);

  /* Easy Frontend variables */
  --ezy-item-bg: #162231;
  --ezy-item-shadow: none;
}

.ezy__portfolio6-heading {
  font-weight: bold;
  font-size: 25px;
  line-height: 25px;
  color: var(--bs-body-color);
}

@media (min-width: 768px) {
  .ezy__portfolio6-heading {
    font-size: 45px;
    line-height: 45px;
  }
}

.ezy__portfolio6-sub-heading {
  font-size: 16px;
  line-height: 22px;
  color: var(--bs-body-color);
}

.ezy__portfolio6-item {
  background-color: var(--ezy-item-bg);
  border-radius: 20px;
  overflow: hidden;
  box-shadow: var(--ezy-item-shadow);
  transition: transform 0.25s ease-in-out;
}

.ezy__portfolio6-item:hover {
  transform: translateY(-5px);
}

.ezy__portfolio6-item img {
  border-radius: 20px;
}

.ezy__portfolio6-content * {
  color: var(--bs-body-color);
}

.ezy__portfolio6-btn {
  padding: 7px 20px;
  min-width: 120px;
  border-color: var(--ezy-theme-color);
}

.ezy__portfolio6-btn:hover {
  color: #fff;
  background-color: var(--ezy-theme-color);
  border-color: var(--ezy-theme-color);
}


#all_test_cards{
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
}