









</div>
<hr>


<div class=" my-6">

  <footer class="text-white text-center text-lg-start bg-dark">
    <!-- Grid container -->
    <div class="container p-4">
      <!--Grid row-->
      <div class="row mt-4">
        <!--Grid column-->
        <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-4">About Us</h5>

          <p>
            Welcome to the Civil Engineering Hub, your one-stop shop for all things civil engineering. Connect with fellow professionals, share your lab test results, find your next career opportunity, and engage in insightful discussions.
          </p>

          <p>
            We are dedicated to fostering a vibrant community where civil engineers can learn, grow, and contribute to the advancement of the field.
          </p>

          <div class="mt-4">
            <!-- Facebook -->
            <a type="button" class="btn btn-floating btn-light btn-lg"><i class="fab fa-facebook-f"></i></a>
            <!-- Dribbble -->
            <a type="button" class="btn btn-floating btn-light btn-lg"><i class="fab fa-dribbble"></i></a>
            <!-- Twitter -->
            <a type="button" class="btn btn-floating btn-light btn-lg"><i class="fab fa-twitter"></i></a>
            <!-- Google + -->
            <a type="button" class="btn btn-floating btn-light btn-lg"><i class="fab fa-google-plus-g"></i></a>
            <!-- Linkedin -->
            <a type="button" class="btn btn-floating btn-light btn-lg"><i class="fab fa-linkedin-in"></i></a>
          </div>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-4 pb-1">Explore</h5>

          <ul class="list-unstyled">
            <li>
              <a href="/api/v1/tests" class="text-white">Lab Tests</a>
            </li>
            <li>
              <a href="/api/v1/jobs" class="text-white">Job Board</a>
            </li>
            <!-- <li>
              <a href="/api/v1/blogs" class="text-white">Blog</a>
            </li>
            <li>
              <a href="/api/v1/forum" class="text-white">Forum</a>
            </li> -->
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-4">Contact Us</h5>

          <ul class="fa-ul" style="margin-left: 1.65em;">
            <li class="mb-3">
              <span class="fa-li"><i class="fas fa-home"></i></span><span class="ms-2">Abu Dhabi</span>
            </li>
            <li class="mb-3">
              <span class="fa-li"><i class="fas fa-envelope"></i></span><span class="ms-2">naxgat@gmail.com</span>
            </li>
            <!-- <li class="mb-3">
              <span class="fa-li"><i class="fas fa-phone"></i></span><span class="ms-2">+123-456-7890</span>
            </li> -->
          </ul>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2023 Copyright:
      <a class="text-white" href="/api/v1/tests">Civil Engineering Hub</a>
    </div>
    <!-- Copyright -->
  </footer>

</div>
<!-- End of .container -->






<script src="/js/formValidation.js"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>


</body>
</html>