
<!-- __________________ -->

<section class="hero">
    <div class="content">
      <h2>Hello Engineers!</h2>
      <p>This website is specifically designed to cater to the needs of civil engineers, providing a comprehensive platform for professionals to collaborate, share knowledge, and exchange ideas. As a seasoned expert in the field, you are invited to contribute to our community by sharing your valuable insights, experiences, and expertise.</p>
      <br>
      </div>
    <div class="waves"></div>
  </section>