<header class="hero">
    <img src="/photos/fevicon.png" alt="">
    <div class="main-title">
        <h1 class="h1">Your Civil Engineering Hub</h1>
        <div class="quote">
            <p>
                "The greatest danger for most of us is not that our aim is too high and we miss it, but that it is too low and we reach it."
            </p>
            <span>_Michelangelo_</span>
        </div>

        <div class="bg-black">
            <h2>Civil Engineers</h2>
            <h4>Hello, this is Shahab <i>"developer of this website"</i></h4>
            <p>This website is specifically designed to cater to the needs of civil engineers, providing a comprehensive platform for professionals to collaborate, share knowledge, and exchange ideas. As a seasoned expert in the field, you are invited to contribute to our community by sharing your valuable insights, experiences, and expertise.
            </p>
        </div>
    </div>
</header>

<script>
    function toggleMenu() {
        const menu_box = document.querySelector(".menu-li");
        menu_box.classList.toggle('active');
    }
</script>