<nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top " data->
    <div class="container-fluid">
      <% if (currUser) { %>
        <a class="navbar-brand" href="/api/v1/user/<%= currUser._id %>"><img src="<%= currUser.avatar.url %>" alt="" <% if (currUser.role === 'admin') { %>
         style='border: 3.5px solid yellow'
        <% } %>></a>
      <% } else {%>
        <a class="navbar-brand" href="/"><img src="/photos/fevicon.png" alt=""></a>
        <% }%>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <% if (currUser) { %>
            <li class="nav-item">
              <p class="nav-link active" aria-current="page"><%= currUser.username %></p>
            </li>
          <% } %>
          <li class="nav-item btn">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item btn">
            <a class="nav-link" href="/api/v1/career">Career</a>
          </li>
          <li class="nav-item dropdown btn">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              User
            </a>
            <ul class="dropdown-menu btn ">
            <% if (!currUser) { %>
              <li><a class="dropdown-item " href="/api/v1/register">Register</a></li>
              <li><a class="dropdown-item" href="/api/v1/login">Login</a></li>
            <% } %>
              <% if (currUser) { %>
                <li><a class="dropdown-item" href="/api/v1/logout">Logout</a></li>
              <% } %>
              <% if (currUser && currUser.role === 'admin') { %>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="/api/v1/dashboard">Dashboard</a></li>
              <% } %>
            </ul>
          </li>
          <li class="nav-item btn">
            <a class="nav-link " aria-disabled="true" href="/api/v1/test/create">Post new test</a>
            
          </li>
          <li class="nav-item btn">
            <a class="nav-link " aria-disabled="true" href="/api/v1/job/create">Post new Job</a>
          </li>
        </ul>
        <% if (req.originalUrl === '/') { %>
          <form class="d-flex" role="search" action="/#all-tests">
            <input class="form-control me-3" type="search" placeholder="Search" aria-label="Search" name="keyword">
              <button class="btn btn-outline-info" type="submit">Search</button>
          </form>
        <% } %>
      </div>
    </div>
  </nav>