<!DOCTYPE html>
<%- include('../layout/header.ejs') %>

    <h1>Create Test</h1>

    <form class="row g-3" action="/api/v1/test/create" 
    method="post"
    enctype="multipart/form-data">
        <div class="col-md-6">
          <label for="name" class="form-label">Test Name</label>
          <input type="text" name="name" class="form-control" id="name" required>
        </div>

        <div class="col-md-4">
            <label for="category" class="form-label">Category</label>
            <select id="category" name="category" class="form-select" required>
              <option selected>Choose...</option>
              <option value="Soil">Soil Test</option>
                <option value="Aggregate">Aggregate Test</option>
                <option value="Concrete">Concrete Test</option>
                <option value="Asphalt">Asphalt Test</option>
                <option value="Cement">Cement Test</option>
            </select>
        </div>

        <div class="col-md-6">
            <label for="introduction" class="form-label">Test Introduction</label>
            <textarea rows="14" type="text" name="introduction" class="form-control" id="introduction" required></textarea>
        </div>

        <div class="col-md-6">
            <label for="equipments" class="form-label">Test Equipments</label>
        <% for( let index = 0; index <= 5; index++ ) { %>
                <input type="text" name="equipments" class="form-control" id="equipments" required>
                <br>
        <% } %>
        </div>

        <div> 
            <label for="image" class="form-label">Upload Image:</label>
            <input type="file" class="form-control" required name="image" >
        </div>

        <div class="col-md-6">
            <label for="sampling" class="form-label">Test Sampling Procedure</label>
        <% for( let index = 0; index <= 5; index++ ) { %>
                <input type="text" name="sampling" class="form-control" id="sampling" required>
                <br>
        <% } %>
        </div>
        
        <div class="col-md-6">
            <label for="procedure" class="form-label">Test Procedure</label>
        <% for( let index = 0; index <= 5; index++ ) { %>
                <input type="text" name="procedure" class="form-control" id="procedure" required>
                <br>
        <% } %>
        </div>

        <div class="col-md-6">
            <label for="formula" class="form-label">Formula for calculation</label>
            <textarea rows="14" type="text" name="formula" class="form-control" id="formula" required></textarea>
        </div>

        <div class="col-md-6">
            <label for="result" class="form-label">Results</label>
            <textarea rows="14" type="text" class="form-control" name="result" id="result" required></textarea>
        </div>

        
        <div class="col-12">
          <button type="submit" class="btn btn-primary btn-lg">Create Test</button>
        </div>
      </form>
<%- include('../layout/footer.ejs') %>
